{% extends 'vivaidoso/base.html' %}
{% load staticfiles %}

{% block start_css %}
    <!--page level css starts-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/animate/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/frontend/search.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <!--end of page level css-->
{% endblock %}

{% block content %}
    <!-- Container Section Start -->
    <div class="container search-page search-content-1 search-content-3">
        <div class="row">
            <h3><span class="text-blue">2371</span> resultados encontrados
            </h3>
            <hr>
            <div class="col-md-4 ">
                <!-- Tabbable-Panel Start -->
                <div class="search-filter ">
                    <div class="search-label uppercase">Search By</div>
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control" placeholder="Filter by keywords"> </div>
                    <div class="search-label uppercase">Sort By</div>
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                    <div class="search-label uppercase">Date</div>
                    <div class="input-icon right">
                        <i class="icon-calendar"></i>
                        <input class="form-control date-picker" type="text" placeholder="Any Date"> </div>
                    <button class="btn green bold uppercase btn-block">Update Search Results</button>
                    <div class="search-filter-divider bg-grey-steel"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn grey bold uppercase btn-block">Reset Search</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn grey-cararra font-blue bold btn-block">Advanced Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- News1 Section Start -->
                <div class="search-container ">
                    <ul>
                        {% for empresa in empresas %}
                            <li class="search-item clearfix">
                                <a href="/pesquisar/{{ empresa.id }}/">
                                    <img src="{{ empresa.image }}">
                                </a>
                                <div class="search-content">
                                    <h2 class="search-title">
                                        <a href="/pesquisar/{{ empresa.id }}/">{{ empresa.nome }}</a>
                                    </h2>
                                    <small class="search-desc">{{ empresa.bairro }}</small>
                                    <p > {{ empresa.descricao }} </p>
                                    <div class="row">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-danger">Lar</button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-anchor" aria-hidden="true"></i></button>
                                            <button type="button" class="btn btn-default"><i class="fa fa-calculator" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="search-pagination">
                        <ul class="pagination">
                            <li class="page-active">
                                <a href="javascriptt:;"> 1 </a>
                            </li>
                            <li>
                                <a href="javascriptt:;"> 2 </a>
                            </li>
                            <li>
                                <a href="javascriptt:;"> 3 </a>
                            </li>
                            <li>
                                <a href="javascriptt:;"> 4 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //News1 Section End -->
            </div>
            <!-- Tab-content End -->
        </div>
        <!-- //Tabbablw-line End -->
    </div>
    <!-- Tabbable_panel End -->
{% endblock %}

{% block end_js %}
    <!-- begining of page level js -->
    <!--tags-->
    <script src="{% static 'vendors/bootstrap-tagsinput/js/bootstrap-tagsinput.js' %}"></script>
    <script src="{% static 'vendors/wow/js/wow.min.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            new WOW().init();
        });
    </script>
    <!-- end of page level js -->
{% endblock %}
