{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block start_css %}
    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- DropZone JS -->
    <link href="{% static 'css/plugins/dropzone/basic.css' %}" rel="stylesheet" />
    <link href="{% static 'css/plugins/dropzone/dropzone.css' %}" rel="stylesheet" />
    {{ form.media }}
{% endblock %}


{% block content %}

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Empresas</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a>Cadastro</a>
                    </li>
                    <li class="active">
                        <strong>Empresas</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div id="alert-status" data-alerts="alerts" data-fade="5000"></div>

                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Parâmetros</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-8 b-r">
                                    <p>
                                        Basic example via data attributes: <span class="text-muted">(type 'item...')</span>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <select id="myselect_1" class="select2_demo_3 form-control">
                                                <option value="-1">Selecionar...</option>
                                            </select>   
                                        </div>
                                        <div class="col-lg-2">
                                            <button id="mysubmit_1" class="btn btn-primary btn-sm" type="button"><i class="fa fa-check"></i>&nbsp;Gerar dados</button>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p>
                                        Cadastrar nova empresa
                                    </p>
                                    <button id="mysubmit_2" class="btn btn-primary btn-sm" type="button"><i class="fa fa-plus"></i>&nbsp; Gerar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cadastro</h5>
                            <div class="ibox-tools">
                                <div class="pull-right">
                                    <button id="mysubmit_3" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"><strong>Salvar</strong></button>
                                </div>
                            </div>
                        </div>
                        <div id="dynamic" class="ibox-content">
                            <form id="post-form" class="m-t" role="form" method="post" action="{% url 'empresa' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#foto-1" aria-expanded="true">Fotos</a></li>
                                            <li class=""><a data-toggle="tab" href="#foto-2" aria-expanded="false">Upload</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="foto-1" class="tab-pane active">
                                                <div class="carousel slide" id="carousel1">
                                                    <div class="carousel-inner">
                                                        {% for image in images %}
                                                            <div class="item{% if forloop.first %} active{% endif %}">
                                                                <img alt="image" class="img-responsive" src="{{image.file.url}}">
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                                        <span class="icon-prev"></span>
                                                    </a>
                                                    <a data-slide="next" href="#carousel1" class="right carousel-control">
                                                        <span class="icon-next"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="foto-2" class="tab-pane">
                                                <div action="#" class="dropzone" id="dropzoneForm">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple />
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {{ form.nome.errors }}
                                                    <label for="{{ form.nome.id_for_label }}">Nome da Empresa:</label>
                                                    {{ form.nome }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.nat_juridica.errors }}
                                                    <label for="{{ form.nat_juridica.id_for_label }}">Natureza Jurídica:</label>
                                                    {{form.nat_juridica}}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.faixa_valor.errors }}
                                                    <label for="{{ form.faixa_valor.id_for_label }}">Faixa de Valor Mensal:</label>
                                                    {{form.faixa_valor}}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.dependencia.errors }}
                                                    <label for="{{ form.dependencia.id_for_label }}">Dependência:</label>
                                                    {{form.dependencia}}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.servicos_incl.errors }}
                                                    <label for="{{ form.servicos_incl.id_for_label }}">Serviços incluídos:</label>
                                                    {{form.servicos_incl}}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    {{ form.horario_visita.errors }}
                                                    <label for="{{ form.horario_visita.id_for_label }}">Horário de Visita:</label>
                                                    {{ form.horario_visita }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.lot_maxima.errors }}
                                                    <label for="{{ form.lot_maxima.id_for_label }}">Lotação Máxima:</label>
                                                    {{ form.lot_maxima }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.leitos.errors }}
                                                    <label for="{{ form.leitos.id_for_label }}">Leitos:</label>
                                                    {{form.leitos}}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.sexo.errors }}
                                                    <label for="{{ form.sexo.id_for_label }}">Sexo:</label>
                                                    {{form.sexo}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    {{ form.bairro.errors }}
                                                    <label for="{{ form.bairro.id_for_label }}">Bairro:</label>
                                                    {{ form.bairro }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form.descricao.errors }}
                                                    <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                                                    {{ form.descricao }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Apresentação</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Serviços</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Admissão</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Atividades</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Localização</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">
                                                {{form.apresentacao}}
                                            </div>
                                        </div>
                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">
                                                {{form.servicos}}
                                            </div>
                                        </div>
                                        <div id="tab-3" class="tab-pane">
                                            <div class="panel-body">
                                                {{form.admissao}}
                                            </div>
                                        </div>
                                        <div id="tab-4" class="tab-pane">
                                            <div class="panel-body">
                                                {{form.atividades}}
                                            </div>
                                        </div>
                                        <div id="tab-5" class="tab-pane">
                                            <div class="panel-body">
                                                {{form.localizacao}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2017
            </div>
        </div>

{% endblock %}

{% block end_js %}
    <!-- Select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <!-- JQuery BS Alert -->
    <script src="{% static 'js/plugins/jquery-bs-alerts/jquery.bsAlerts.min.js' %}"></script>
    <!-- DropZone JS -->
    <script src="{% static 'js/plugins/dropzone/dropzone.js' %}"></script>
    <script>
        dropzone_options = {
            url: "/ajax/upload_file/",
            addRemoveLinks: true,
            success: function (file, response) {
                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log("Successfully uploaded :" + imgName);
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        };
        $(document).ready(function () {
            Dropzone.autoDiscover = false;
            $("#dropzoneForm").dropzone(dropzone_options);
        });
        options = {
            "theme": "modern", 
            "selector": "", 
            "toolbar": "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons", 
            "plugins": "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking save table contextmenu directionality emoticons template paste textcolor",
            setup: function (editor) {
                editor.on('change', function () {
                    tinymce.triggerSave();
                });
            }}
        
        $("#mysubmit_1").click(function() {
            cod = $("#myselect_1").val()
            if (cod != '') {
                $.ajax({
                    url:'/dashboard/empresa/'+cod+'/',
                    type:'GET',
                    success: function( data ) {
                        // response is form in html format
                        $("#dynamic").html(data);
                        tinyMCE.remove();
                        options['selector'] = "#id_apresentacao";
                        tinyMCE.init(options);
                        options['selector'] = "#id_servicos";
                        tinyMCE.init(options);
                        options['selector'] = "#id_admissao";
                        tinyMCE.init(options);
                        options['selector'] = "#id_atividades";
                        tinyMCE.init(options);
                        options['selector'] = "#id_localizacao";
                        tinyMCE.init(options);
                        dropzone_options['url'] = '/ajax/upload_file/'+cod+'/';
                        $("#dropzoneForm").dropzone(dropzone_options);
                    }
                });
            }
        });
        $("#mysubmit_2").click(function() {
            $('#myselect_1').val('-1').trigger('change');
            cod = '9999'
            $.ajax({
                url:'/dashboard/empresa/'+cod+'/',
                type:'GET',
                success: function( data ) {
                    // response is form in html format
                    $("#dynamic").html(data);
                    tinyMCE.remove();
                    options['selector'] = "#id_apresentacao";
                    tinyMCE.init(options);
                    options['selector'] = "#id_servicos";
                    tinyMCE.init(options);
                    options['selector'] = "#id_admissao";
                    tinyMCE.init(options);
                    options['selector'] = "#id_atividades";
                    tinyMCE.init(options);
                    options['selector'] = "#id_localizacao";
                    tinyMCE.init(options);
                    dropzone_options['url'] = '/ajax/upload_file/'+cod+'/';
                    $("#dropzoneForm").dropzone(dropzone_options);
                   
                }
            });
        });
        $(".select2_demo_3").select2({
            placeholder: "Selecione uma empresa",
            id: '-1', // the value of the option
            allowClear: true
        });
        // Submit post on submit
        $("#mysubmit_3").click(function() {
  
        var frm = $('#post-form');
        //$('#post-form').on('submit', function(event){
            //event.preventDefault();
            
            cod = $("#myselect_1").val();
            console.log(cod);
            $.ajax({
                url:'/dashboard/empresa/'+cod+'/',
                type:'POST',
                data : frm.serialize(),
                success : function(data) {
                    if (data.status == 'success') {
                        $(document).trigger("add-alerts", [
                            {
                              'message': '<strong>' + data.result + '</strong>',
                              'priority': 'success'
                            }
                        ]);
                        $.ajax({
                            url:'/ajax/get_empresas',
                            type:'GET',
                            dataType: 'json',
                            success: function( data ) {
                                $('#myselect_1').empty();
                                $.each(data, function(i, value) {
                                    $('#myselect_1').append($('<option>').text(value[1]).attr('value', value[0]));
                                });
                                $('#myselect_1').val(cod).trigger('change');
                            }
                        });
                        
                    } else if (data.status == 'error') {
                        result = '<ul>';
                        $.each(data.data, function(i, value) {
                            result += '<li><strong>' + i + '</strong>: ' + value + '</li>'
                        });
                        result += '</ul>';
                        $(document).trigger("add-alerts", [
                            {
                              'message': '<strong>' + data.result + '</strong>' + result,
                              'priority': 'warning'
                            }
                          ]);
                    }
                }
            }); 
        });
        $.ajax({
            url:'/ajax/get_empresas',
            type:'GET',
            dataType: 'json',
            success: function( data ) {
                $.each(data, function(i, value) {
                    $('#myselect_1').append($('<option>').text(value[1]).attr('value', value[0]));
                });
            }
        });
    </script>

    
{% endblock %}