<form id="post-form" class="m-t" role="form" method="post" action="{% url 'empresa' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6 b-r">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#foto-1" aria-expanded="true">Fotos</a></li>
                <li class=""><a data-toggle="tab" href="#foto-2" aria-expanded="false">Upload</a></li>
            </ul>
            <div class="tab-content">
                <div id="foto-1" class="tab-pane active">
                    <div class="carousel slide" id="carousel1">
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="item{% if forloop.first %} active{% endif %}">
                                    <img alt="image" class="img-responsive" src="{{image.file.url}}">
                                </div>
                            {% endfor %}
                        </div>
                        <a data-slide="prev" href="#carousel1" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel1" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                <div id="foto-2" class="tab-pane">
                    <div action="#" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.nome.errors }}
                        <label for="{{ form.nome.id_for_label }}">Nome da Empresa:</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        {{ form.nat_juridica.errors }}
                        <label for="{{ form.nat_juridica.id_for_label }}">Natureza Jurídica:</label>
                        {{form.nat_juridica}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.horario_visita.errors }}
                        <label for="{{ form.horario_visita.id_for_label }}">Horário de Visita:</label>
                        {{ form.horario_visita }}
                    </div>
                    <div class="form-group">
                        {{ form.lot_maxima.errors }}
                        <label for="{{ form.lot_maxima.id_for_label }}">Lotação Máxima:</label>
                        {{ form.lot_maxima }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.bairro.errors }}
                        <label for="{{ form.bairro.id_for_label }}">Bairro:</label>
                        {{ form.bairro }}
                    </div>
                    <div class="form-group">
                        {{ form.descricao.errors }}
                        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                        {{ form.descricao }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Apresentação</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Serviços</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Admissão</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Atividades</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Localização</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    {{form.apresentacao}}
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{form.servicos}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{form.admissao}}
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    {{form.atividades}}
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{form.localizacao}}
                </div>
            </div>
        </div>
    </div>
</form>