<form id="post-form" class="m-t" role="form" method="post" action="{% url 'empresa' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-6 b-r">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#foto-1" aria-expanded="true">Fotos</a></li>
                <li class=""><a data-toggle="tab" href="#foto-2" aria-expanded="false">Upload</a></li>
                <li class=""><a data-toggle="tab" href="#foto-3" aria-expanded="false">Apagar</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="foto-1" class="tab-pane active">
                    <div class="carousel slide" id="carousel1">
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="item{% if forloop.first %} active{% endif %}">
                                    <img alt="image" class="img-responsive" src="{{image.file.url}}">
                                </div>
                            {% endfor %}
                        </div>
                        <a data-slide="prev" href="#carousel1" class="left carousel-control">
                            <span class="icon-prev"></span>
                        </a>
                        <a data-slide="next" href="#carousel1" class="right carousel-control">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" id="foto-2" class="tab-pane">
                    <div action="#" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </div> 
                </div>
                <div role="tabpanel" id="foto-3" class="tab-pane">
                    <div class="panel-body">
                        <table class="table"> 
                            <thead> 
                                <tr> 
                                    <th>#</th> 
                                    <th>Image</th> 
                                    <th>Action</th>
                                </tr> 
                            </thead> 
                            <tbody>
                                {% for image in images %}
                                <tr> 
                                    <th scope="row">{{forloop.counter}}</th> 
                                    <td><img alt="image" height="75" width="75" class="img-responsive" src="{{image.file.url}}"></td> 
                                    <td><button type="button" class="btn btn-white btn-xs" data-toggle="modal" data-target="#deleteModal" data-id="{{image.id}}"><i class="fa fa-trash-o"></i> Delete!</button></td> 
                                </tr>
                                {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.nome.errors }}
                        <label for="{{ form.nome.id_for_label }}">Nome da Empresa:</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        {{ form.nat_juridica.errors }}
                        <label for="{{ form.nat_juridica.id_for_label }}">Natureza Jurídica:</label>
                        {{form.nat_juridica}}
                    </div>
                    <div class="form-group">
                        {{ form.faixa_valor.errors }}
                        <label for="{{ form.faixa_valor.id_for_label }}">Faixa de Valor Mensal:</label>
                        {{form.faixa_valor}}
                    </div>
                    <div class="form-group">
                        {{ form.dependencia.errors }}
                        <label for="{{ form.dependencia.id_for_label }}">Dependência:</label>
                        {{form.dependencia}}
                    </div>
                    <div class="form-group">
                        {{ form.servicos_incl.errors }}
                        <label for="{{ form.servicos_incl.id_for_label }}">Serviços incluídos:</label>
                        {{form.servicos_incl}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.horario_visita.errors }}
                        <label for="{{ form.horario_visita.id_for_label }}">Horário de Visita:</label>
                        {{ form.horario_visita }}
                    </div>
                    <div class="form-group">
                        {{ form.lot_maxima.errors }}
                        <label for="{{ form.lot_maxima.id_for_label }}">Lotação Máxima:</label>
                        {{ form.lot_maxima }}
                    </div>
                    <div class="form-group">
                        {{ form.leitos.errors }}
                        <label for="{{ form.leitos.id_for_label }}">Leitos:</label>
                        {{form.leitos}}
                    </div>
                    <div class="form-group">
                        {{ form.sexo.errors }}
                        <label for="{{ form.sexo.id_for_label }}">Sexo:</label>
                        {{form.sexo}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form.bairro.errors }}
                        <label for="{{ form.bairro.id_for_label }}">Bairro:</label>
                        {{ form.bairro }}
                    </div>
                    <div class="form-group">
                        {{ form.descricao.errors }}
                        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
                        {{ form.descricao }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Apresentação</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Serviços</a></li>
            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Admissão</a></li>
            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Atividades</a></li>
            <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Localização</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    {{form.apresentacao}}
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    {{form.servicos}}
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    {{form.admissao}}
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="panel-body">
                    {{form.atividades}}
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="panel-body">
                    {{form.localizacao}}
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja apagar a imagem?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="btnDelete" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var image_id = button.data('id') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this);
    modal.data('id', image_id);
})
$('#btnDelete').click(function() {
    var image_id = $('#deleteModal').data('id');
    $.ajax({
        url:'/delete-image/'+image_id+'/',
        type:'GET',
        success : function(data) {
            if (data.status == 'success') {
                $(document).trigger("add-alerts", [
                    {
                      'message': '<strong>' + data.result + '</strong>',
                      'priority': 'success'
                    }
                ]);
            } else if (data.status == 'error') {
                $(document).trigger("add-alerts", [
                    {
                      'message': '<strong>' + data.result + '</strong>',
                      'priority': 'warning'
                    }
                  ]);
            }
        }
    }); 
});
</script>